<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<body>
<h2>게시글 수정</h2>
<form action="/board/update" method="post">
    <input type="hidden" name="no" th:value="${b.no}">
    <label for="title">제목:</label>
    <input type="text" id="title" name="title" th:value="${b.title}" required>
    <br>
    <label for="content">내용:</label>
    <textarea id="content" name="content" required th:text="${b.content}"></textarea>
    <br>
    <button type="submit">수정</button>
</form>
<a href="/board/list">목록으로</a>
</body>
</html>