<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.travel_404.travel.model.dao.TravelMapper">

    <!-- 검색 목록 - 한세빈 -->
    <select id="searchTravels" resultType="com.multi.travel_404.travel.model.dto.TravelDTO">
        SELECT no, district, title, address
        FROM travel
        WHERE title LIKE CONCAT('%'
            , #{keyword}
            , '%')
           OR address LIKE CONCAT('%'
            , #{keyword}
            , '%')
    </select>

    <!-- 관광지 목록 조회 (페이징 적용) - 정승호 -->
    <select id="getAllTravels" resultType="com.multi.travel_404.travel.model.dto.TravelDTO">
        SELECT no, title, address
        FROM travel
        ORDER BY no ASC
            LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <!-- 전체 관광지 개수 조회 - 정승호 -->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM travel
    </select>

    <!-- 주변 관광지 정보 조회 - 김민호 -->
    <select id="getNearTravel" parameterType="String" resultType="com.multi.travel_404.travel.model.dto.TravelDTO">
        SELECT * FROM travel where district = #{district}
    </select>

    <select id="getDetailTravel" parameterType="int" resultType="com.multi.travel_404.travel.model.dto.TravelDTO">
        SELECT * FROM travel where no = #{no}
    </select>
</mapper>