<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- null 데이터가 전달되었다면 빈칸이 아닌 null 로 인식 -->
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!-- MyBatis가 SQL을 포매팅하여 출력하도록 설정 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.multi.travel_404.member.model.dto.MemberDTO" alias="Member"/>
        <typeAlias type="com.multi.travel_404.board.model.dto.BoardDTO" alias="Board"/>
        <typeAlias type="com.multi.travel_404.travel.model.dto.TravelDTO" alias="Travel"/>
    </typeAliases>

    <!-- 여기 추가: MyBatis 매퍼 등록 -->
    <mappers>
        <mapper resource="mybatis/mapper/BoardMapper.xml"/>
        <mapper resource="mybatis/mapper/MemberMapper.xml"/>
        <mapper resource="mybatis/mapper/TravelMapper.xml"/>
    </mappers>
</configuration>
