<!--신유경 + 한세빈 관광지검색, 로그인, 공지사항-->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"> <!-- CSS 파일 링크 -->
    <style>
        .header-links {
            color: #0D47A1;
            font-size: 18px;
            border: 15px;
            margin-right: 15px;
            border: none;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="header-links" th:align="right">
    <h3>
        <div align="right">
            <a href="/travel/list" style="text-decoration:none; color: inherit;" class="bt1">관광지 목록</a> &emsp;
            <th:block sec:authorize="isAuthenticated()">
                <th:block sec:authorize="hasAnyRole('USER', 'ADMIN')">
                    <a onclick="location.href='/board/list'">공지사항</a> &emsp;
                </th:block>
                <a onclick="location.href='/member/logout'">로그아웃</a>
            </th:block>
            <th:block sec:authorize="isAnonymous()">
                <a onclick="location.href='/member/login'">로그인</a>
            </th:block>
        </div>
    </h3>
</div>
<div class="container" th:align="center">
    <h1>Here Search!! 🔍</h1>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <form action="/travel/search" method="get">
        <input type="text" name="keyword" class="form-control search-input" placeholder="검색어를 입력하세요" required>
        <button type="submit" class="searchbtn">검색</button>
        <button onclick="location.href='/travel/kakaomapsearch'">카카오맵으로 검색하기</button>
    </form>
</div>
</body>
</html>